# npm package files
.idea
.vscode
*.code-workspace
.git
.gitignore
.gitattributes
.DS_Store
*.db
.eslintcache
*.sublime*
tsconfig.json
tsconfig.*.json

# npm package files
node_modules
nbproject

# Test files
test
*.test.js

# Admin-Entwicklungsdateien
admin/src
admin/src-*

# Development files
enpalAPI.js
enpalAPI_test.js

# i18n intermediate files
admin/i18n
admin/i18n/flat.txt
admin/words.js

# Documentation
docs
.github

# Travis CI
.travis.yml
appveyor.yml

# ESLint, Prettier
.eslintrc.js
.eslintrc.json
eslint.config.mjs
.prettierrc.js
prettier.config.mjs
